appnope==0.1.0
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
greenlet==0.4.12
idna==2.5
ipython-genutils==0.2.0
jedi==0.10.2
msgpack-python==0.4.8
pexpect==4.2.1
pickleshare==0.7.4
Pint==0.8.1
praw==5.0.1
prawcore==0.11.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
requests==2.18.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
update-checker==0.16
urllib3==1.26.5
wcwidth==0.1.7
